.container
{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.central
{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 20px;
}

.sidebar
{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 180px 250px 250px;
    background-color: #0891b2;
    color: white;
    font-weight: bold;
    font-size: 28px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    
}
.doge
{
    height: 40px;
    width: 40px;
    align-self:center;
}
.logo i
{
    font-size: 30px;
}

.logo p
{
    padding-top: 5px;
}
ul
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: white;
}
body
{
    margin: 0;
    padding: 0;
}

i
{
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin: 15px;
}

.topbar
{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input
{
    width: 45vw;
    border-radius: 10px;
    min-height: 40px;
    background-color: #d1d5db;
    padding: 4px;
}
.topflex
{
    display: flex;
    align-items: center;
    gap: 200px;
}

.bottomflex
{
    display: flex;
    justify-content: space-between;
}

.profile
{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.doge_bottom
{
    height: auto;
    width: 80px;
}
.message p
{
    margin: 0;
}
.message
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greet_profile
{
    display: flex;
    gap: 10px;
    font-weight: bold;
    min-width: 300px;
    padding: 5px 15px;
}

.buttons
{
    display: flex;
    align-items: center;
    gap: 25px;
}

button
{
    background-color: #0891b2;
    padding: 20px;
    border-radius: 25px;
    height: 65px;
    width: 130px;
    color: white;
}

.topbar img
{
    background-color: yellow;
    border-radius: 50%;
}

.central
{
    background-color: #d1d5db;
    padding: 20px;
}

.rightbar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    align-content: center;
    justify-items: center;
}

.card
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 10px solid gold;
    padding: 55px 30px 10px 30px; 
    border-radius: 15px;
    gap: 20px;
    justify-content: flex-end;
}

.card .icons
{
    align-self: flex-end;
}

.card-container h2
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:10px 50px;
}
h2,h3
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.announcementwrap
{
    font-size: 20px;
    margin-left: 30px;
}

.announcementwrap h2
{
    padding-left: 20px;
}
.trendingwrap h3
{
    text-align: center;
}
.announcements
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    
}
.trendingwrap{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 30px;
}
.announcements p,.card p{
    color: grey;
}

.card p{
    margin-left: 0;
}
.announcement h3,p
{
    margin: 10px;

}


.profileinfo > :nth-child(1)
{
    font-weight: bold;
}

.profileinfo > :nth-child(2)
{
    color: grey;
}
.logo_image
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.logo_img
{
    height: auto;
    width: 50px;
    opacity: 1;
    -webkit-filter: invert(100%);
}

.users img
{
    height: 80px;
    width: auto;
    border-radius: 50%;
    border: 2px solid black;
}

.users
{
    display: flex;
    
}

.pfps
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pfps p
{
    white-space: nowrap;
}
