.container
{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.central
{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows: 1fr 1fr;
}

.sidebar
{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 180px 250px 250px;
    background-color: #0891b2;
    color: white;
    font-weight: bold;
    font-size: 28px;
    align-items: center;
}

.logo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.logo i
{
    font-size: 30px;
}

.logo p
{
    padding-top: 5px;
}
ul
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: white;
}
body
{
    margin: 0;
    padding: 0;
}

i
{
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin: 15px;
}

